<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Machine Learning</title>
</head>
<body>

<form action="{{ url_for('predictf') }}" method="post">
<input type="number" name="a" placeholder="enter value"></input>
<input type="number" name="b" placeholder="enter value"></input>
<input type="number" name="c" placeholder="enter value"></input>
<input type="number" name="d" placeholder="enter value"></input>
<input type="number" name="e" placeholder="enter value"></input>
<input type="number" name="f" placeholder="enter value"></input>
<input type="number" name="g" placeholder="enter value"></input>
</form>
<!--<h3><br>{{prediction_text}}</h3>-->
</body>
</html>