.footer{
    /* height:5vh; */
    font-size: 1rem;
    display: flex;
    position:relative;
    bottom: 0px;
    
    align-items: center;
    justify-content: center;
    background-color: rgba(17, 17, 17, 0.781) !important;
    color: white !important;
    width: 100vw;
}