.navbar{
    background-color:#5b3204bf;
    width: 100vw;
    height: 10vh;
}
 .container-fluid{
       margin: 0px 3%;
  }
   .navbar-brand{
    font-family: 'Julee', cursive;
    font-size: 2rem;
    font-weight: 600;
}
.navbar-nav{
    margin-left: auto;
}

.nav-item{
    padding: 0px 18px;
}
.nav-link{
    font-family: 'Patrick Hand', cursive;
    font-size:1.3rem ;
    color: white;
}

.logo{
    height: 60px;
    width: 100px;
    
}