
        /* our services */

        .Our-Services{
            display: grid;
            grid-template-rows: 3% 97%;
            justify-content: center;
            margin-top: 20vh;
            margin-bottom: 20vh;
            height: 80vh;
        }
        .Our-Services h2{
            margin: auto;
          
        }

        .Service-block {
            margin-top: 75px;
            display: grid;
            grid-template-columns: 18% 18% 18% 18% 18%;
            height: 90%;
            justify-content: center;
            align-items: center;
          

        }

        .card {
            
            width: 85%;
            height: 75%;
            
        }

        .card:hover{
           
           cursor: pointer;
        }

        .card img {
            height: 100px;
            width: 100%;
        }

        .middle {
            height: 85%;
        }

        .Show{
            margin-top: 5px;
            border-radius: 50px;
            
        }

        @media (max-width:900px) {
            .card {
                width: 90%;
            }
             
            .Our-Services{
                height: 95vh;
            }
            
        }

        @media (max-width:750px) {

            .Service-block {
                grid-template-columns: 60%;
                height: 95%;
                
            }

            .Our-Services{
                height: 300vh;
            }

            .card,
            .middle {
                
                height: 85%;
            }

           


        }

        /* our services-end */