/* our services */

.Our-Services {
  display: grid;
  grid-template-rows: 3% 97%;
  justify-content: center;
  margin-top: 20vh;
  margin-bottom: 10vh;
  height: 85vh;
  /* background-color: #a3cfbb30; */
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;

  
  ;
}
.Heading-services{
  margin-left: 6vw;

  font-family: 'Tilt Warp', cursive;
}
.Heading-services h1{
  font-size: 48px;
  color: gray;
}



.Service-block {
  margin-top: 75px;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

.card-body h5 {
  /* font-family: "Julee", cursive; */
  font-weight: 600;
}

.card-text {
  font-family: "Rajdhani", cursive;
  font-size: 18px;
  font-weight: 600;
}

.card {
  width: 85%;
  height: 85%;
  padding: 5%;
  border-radius: 15px;
  
  background-color: #5b32043b;
}

.card:hover {
  cursor: pointer;
}

.card img {
  height: 200px;
  width: 100%;
}



.Show {
  margin-top: 5px;
  border-radius: 50px;
  font-family: cursive;
}

@media (max-width: 900px) {
  .card {
    width: 90%;
  }

  .Our-Services {
    height: 95vh;
  }
}

@media (max-width: 750px) {
  .Service-block {
    grid-template-columns: 60%;
    height: 85%;
  }

  .Our-Services {
    height: 250vh;
  }

  .card
  {
    height: 80%;
  }
}

/* our services-end */
