/* our services */

.Our-Services {
  display: grid;
  grid-template-rows: 3% 97%;
  justify-content: center;
  margin-top: 20vh;
  margin-bottom: 20vh;
  height: 80vh;
  background-color: #a3cfbb30;
  border-radius: 5px;
}

.Our-Services h2 {
  margin: 20px auto;
  font-family: "Lobster", cursive;
  font-weight: 600;
}

.Service-block {
  margin-top: 75px;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

.card-body h5 {
  font-family: "Julee", cursive;
  font-weight: 600;
}

.card-text {
  font-family: "Kalam", cursive;
}

.card {
  width: 85%;
  height: 65%;
  padding: 5%;
  border-radius: 15px;
  background-color: #a3cfbb4d;
}

.card:hover {
  cursor: pointer;
}

.card img {
  height: 100px;
  width: 100%;
}

.middle {
  height: 85%;
}

.Show {
  margin-top: 5px;
  border-radius: 50px;
  font-family: cursive;
}

@media (max-width: 900px) {
  .card {
    width: 90%;
  }

  .Our-Services {
    height: 95vh;
  }
}

@media (max-width: 750px) {
  .Service-block {
    grid-template-columns: 60%;
    height: 85%;
  }

  .Our-Services {
    height: 250vh;
  }

  .card,
  .middle {
    height: 80%;
  }
}

/* our services-end */
