.testi{
   
    border: 1px solid lightgray ;
    margin: 10px 5px;
    border-radius: 25px;
    

}
.all-Cards{
    margin: auto ;
    justify-content: center;
    align-items: center;
    
    
}

.main-Testimonial{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 120vh;
}

.testimonial-heading{
 margin-top: 20px;

}

@media(max-width:750px){
    .main-Testimonial{
        height: 220vh;
    }
}