.testi{
   
    border: 1px solid lightgray ;
    margin: 35px 55px;
    border-radius: 25px;
    background-color: #a3cfbb4d;

    

}
.all-Cards{
    margin: auto ;
    justify-content: center;
    align-items: center;
    
    
}

.main-Testimonial{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 120vh;
    background-color: #a3cfbb30;
    border-radius: 5px;
}

.testimonial-heading{
 margin-top: 20px;
}

.testimonial-heading h3{
    font-family:'Lobster', cursive;
    font-weight: 600;

}

@media(max-width:900px){
    .main-Testimonial{
        height: 100vh;
    }
}
@media(max-width:750px){
    .main-Testimonial{
        height: 160vh;
    }
}