@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
Link{
    text-decoration: none;
}
body{
    /* background-color; */
}


html{
    scroll-behavior: smooth;
    
}

::-webkit-scrollbar{
    display: none;
}
